# Python
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo

# Distribution / build
dist/
build/
*.egg-info/
*.egg

# Jupyter
.ipynb_checkpoints/

# Env
.env
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# Hidden files/dirs everywhere except .gitignore
.*
!.gitignore
